<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script type="text/javascript" src="http://sslstatic.wix.com/services/js-sdk/1.27.0/js/Wix.js"></script>
    <title></title>
</head>
<body>
    <h1>Hello World!</h1>
</body>
</html>