
<!DOCTYPE html>
<html ng-app="settingsApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" href="/javascripts/bower_components/wix-ui-lib2/ui-lib.min.css"/>
    <link rel="stylesheet" href="/stylesheets/settings-styles.css"/>

</head>
<body wix-ui ng-controller="settingsController as ctrl">


    <header class="box">
        <div class="logo">
            <img width="86" src="/images/settings-logo.png" alt="logo"/>
        </div>
        <div class="top-right-header">
            <p>This is a sample Settings view for widgets and pages created with
                Wix's 3rd Party SDK, compatible with Wix's product requirements.
            </p>

            <button class="uilib-btn manage-btn" ng-click="ctrl.showManageNotes()">Manage notes</button>
        </div>

        <!--<div class="loggedOut">-->
            <!--<p>&lt;!&ndash; App Description &ndash;&gt;</p>-->
            <!--<div class="login-panel">&lt;!&ndash; App login panel &ndash;&gt;</div>-->
        <!--</div>-->
        <!--<div class="loggedIn hidden">-->
            <!--&lt;!&ndash; App Logged in information &ndash;&gt;-->
            <!--<div class="premium-panel">&lt;!&ndash; Premium features &ndash;&gt;</div>-->
        <!--</div>-->
        <!--<button class="uilib-btn manage-btn">Manage notes</button>-->
    </header>
    <div class="feature" wix-ctrl="Tabs" wix-options="{value:0}"  style="margin: 0px">
        <ul>
            <li data-tab="tab0"><div>Design</div></li>
            <li data-tab="tab1"><div>Settings</div></li>
        </ul>
        <!--All Tab Content-->
        <div class="tab-content">
            <!--First Tab (Design) Content-->
            <div data-tab="tab0" class="tab-pane">
                <ui class="list uilib-text">
                     <div class = "settings-group">
                        <li class="li-group">
                            <div class="skins-group" wix-model="template" wix-ctrl="ButtonGroup" wix-options="{value:'{{ctrl.settings.template}}'}">
                                <button value="default-note"></button>
                                <button value="spiral-note"></button>
                                <button value="postit-note"></button>
                                <button value="chalkboard-note"></button>
                            </div>
                            <button id="resetTemplateButton" class="uilib-btn btn-small" ng-click="ctrl.resetTemplate()">Reset</button>
                        </li>
                    </div>
                    <div class="lower-settings">
                        <li class="li-group" wix-label="Text">
                            <div wix-param="textColor" wix-ctrl="ColorPicker"  wix-options="{startWithColor:'color-13'}"></div>
                            <div wix-param="myFont" wix-ctrl="FontStylePicker"></div>
                        </li>
                        <li class="li-group" wix-label="Background Color">
                            <div wix-param="bcolorWOpacity" wix-ctrl="ColorPickerWithOpacity" wix-options="{startWithColor: '#ffffff', startWithOpacity:100}"></div>
                            <div wix-model="myInt" wix-ctrl="Spinner" wix-options="{minValue: 0, maxValue:100 }"></div>
                        </li>
                        <li class="li-group" wix-label="Hover Color">
                            <div wix-param="hcolorWOpacity" wix-ctrl="ColorPickerWithOpacity" wix-options="{startWithColor: '#ffffff', startWithOpacity:100}"></div>
                            <div wix-model="myInt" wix-ctrl="Spinner" wix-options="{minValue: 0, maxValue:100 }"></div>
                        </li>
                        <li class="li-group borderGroup" wix-label="Border">
                            <div wix-param="borderSlider" wix-ctrl="ColorPicker"  wix-options="{startWithColor:'#000000'}" ></div>
                            <span class="width-slider-label">Width</span>
                            <div  wix-model="borderWidth" wix-ctrl="Slider" wix-options="{ maxValue:10, preLabel:'0', postLabel:'10', value:'{{ctrl.settings.borderWidth}}'}"></div>
                            <!--<div class="borderSpinner"wix-model="borderWidth" wix-ctrl="Spinner" wix-options="{minValue: 0, maxValue:100, value:'{{ctrl.settings.borderWidth}}' }"></div>-->
                        </li>
                        <li class="li-group cornerGroup" wix-label="Corner">
                            <span class="radius-slider-label">Radius</span>
                            <div  wix-model="radius" wix-ctrl="Slider" wix-options="{ maxValue:10, preLabel:'0', postLabel:'10', value:'{{ctrl.settings.radius}}'}"></div>
                            <div class="cornerSpinner" wix-model="myInt" wix-ctrl="Spinner" wix-options="{minValue: 0, maxValue:100 }"></div>
                        </li>
                    </div>
                </ui>
            </div>
            <!--Second Tab (Settings Tab)Content-->
            <div data-tab="tab1" class="tab-pane">
                <ui class="list uilib-text">
                    <div class = "settings-group">
                        <li class="li-group">
                            <div class="dur-group" wix-model="multiSize" wix-ctrl="ButtonGroup">
                                <div class="transitionButtonBlock">
                                    <button value="first"></button>
                                    <p>Typewritter</p>
                                </div>
                                <div class="transitionButtonBlock">
                                    <button value="second"></button>
                                    <p>Horizontal</p>
                                </div>
                                <div class="transitionButtonBlock">
                                    <button value="third"></button>
                                    <p>Vertical</p>
                                </div>
                                <div class="transitionButtonBlock">
                                    <button value="fourth"></button>
                                    <p>Fade</p>
                                </div>
                            </div>
                        </li>
                    </div>
                    <div class="lower-settings">
                        <li class="li-group durationGroup" wix-label="Duration (seconds)">
                            <!--<span class="radius-slider-label">Radius</span>-->
                            <div  wix-model="Duration" wix-ctrl="Slider" wix-options="{ maxValue:10, preLabel:'0', postLabel:'10'}"></div>
                            <div class="durationSpinner" wix-model="myInt" wix-ctrl="Spinner" wix-options="{minValue: 0, maxValue:100 }"></div>
                        </li>
                    </div>
                </ui>
            </div>
        </div>

        <div id="manage-notes" class="manage-notes-screen hidden-manage-notes">
            <div id="manage-notes-header">
               <a class="back-to-settings-button" ng-click="ctrl.hideManageNotes()" href="#"> < Back to Settings</a>
               <button class="uilib-btn add-note-btn" >Add a note</button>
            </div>
            <ul ui:sortable ng-model="ctrl.settings.notes" id="manage-notes-content" class="box" wix-scroll="{height:456}">

                <li ng-repeat="note in ctrl.settings.notes" class="note-container">
                    <div class="content-row">
                        <div class="drag-container">
                            <a><img class="drag-img" src="/images/drag-icon.png" /></a>
                        </div>
                        <div class="note-text-container">
                            <textarea ng-model="note.msg" ng-blur="ctrl.blur()" rows="0" class="note-text" type="text" maxlength="140"
                                    placeholder="This is a note. Click to edit"></textarea>
                            <div class="character-max-hidden">140/140</div>
                        </div>
                        <div class="edit-icons-container">
                            <span class="icon-edit"></span>
                            <img id="trash-icon" src="/images/trash-icon.png" />
                            <span class="icon-unwatch"></span>
                        </div>
                    </div>
                    <div class="link-row">
                        <div class="link-container">
                            <img class="link-icon" src="/images/link-icon.png"/>
                            <a href="#">Add a link</a>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

    </div>

     <!--angular + connection to DB -->
    <!--<div ng-controller="settingsController as ctrl"  >-->
        <!--<form ng-submit="ctrl.updateComponent()">-->
            <!--Enter text and hit enter:-->
            <!--<input type="text" ng-model="ctrl.settings.test" name="test" />-->
            <!--<input type="submit" id="submit" value="Submit" />-->
            <!--<!--<pre>list={{list}}</pre>-->

            <!--<!--{{ctrl.test}}-->

        <!--</form>-->
    <!--</div>-->

    <script type="text/javascript" src="javascripts/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/bower_components/jqueryui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.33.0/js/Wix.js"></script>
    <script type="text/javascript" src="javascripts/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/bower_components/angular-ui-sortable/sortable.min.js"></script>
    <script type="text/javascript" src="/javascripts/bower_components/wix-ui-lib2/ui-lib.min.js"></script>
    <script type="text/javascript" src="/javascripts/settings-app.js"></script>

    <!-- get global settings JSON -->
    <script type="text/javascript">
        var settings = <%- settings %>;
    </script>

    <!-- initilaize wix settings ui -->
    <script type="text/javascript">
        $(document).ready(function () {

            Wix.UI.initialize({
                numOfImages: 100,
                isIconShown: true,
                imageVisibility: 'show',
                imagesToSync: 0,
                imageLink: false
            });
        });
    </script>

</body>
</html>


