
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" href="/wix-ui/ui-lib.min.css"/>
    <link rel="stylesheet" href="/stylesheets/settings-styles.css"/>

</head>
<body wix-ui ng-app="settingsApp">


    <header class="box">
        <div class="logo">
            <img width="86" src="/wix-ui/images/wix_icon.png" alt="logo"/>
        </div>
        <div class="loggedOut">
            <p><!-- App Description --></p>
            <div class="login-panel"><!-- App login panel --></div>
        </div>
        <div class="loggedIn hidden">
            <!-- App Logged in information -->
            <div class="premium-panel"><!-- Premium features --></div>
        </div>
    </header>

    <div class="feature" wix-ctrl="Tabs" wix-options="{value:0}"  style="margin: 0px">
        <ul>
            <li data-tab="tab0"><div>Design</div></li>
            <li data-tab="tab1"><div>Setting</div></li>
        </ul>
        <div class="tab-content">
            <div data-tab="tab0" class="tab-pane">
                <ui class="list">
                    <li class="li-group">choose background note layout</li>
                    <li class="li-group">
                        <div wix-label="Text"> Text losts of texts </div>
                        <!--<div wix-param="bgColor" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-3'}"></div>-->
                    </li>
                </ui>
            </div>
            <div data-tab="tab1" class="tab-pane">
                <ui class="list">
                    <li class="li-group">choose transition</li>
                    <li class="li-group">duration options</li>
                </ui>
            </div>
        </div>
    </div>

    <!-- angular -->
    <div ng-controller="settingsController as ctrl"  >
        <form ng-submit="ctrl.updateComponent()">
            Enter text and hit enter:
            <input type="text" ng-model="ctrl.settings.test" name="test" />
            <input type="submit" id="submit" value="Submit" />
            <!--<pre>list={{list}}</pre>-->

            <!--{{ctrl.test}}-->

        </form>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.33.0/js/Wix.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/settings-app.js"></script>
    <script type="text/javascript" src="/wix-ui/ui-lib.min.js"></script>

    <!-- get global settings JSON -->
    <script type="text/javascript">
        var settings = <%- settings %>;
    </script>

    <!-- initilaize wix settings ui -->
    <script type="text/javascript">
        $(document).ready(function () {

            Wix.UI.initialize({
                numOfImages: 100,
                isIconShown: true,
                imageVisibility: 'show',
                imagesToSync: 0,
                imageLink: false
            });
        });
    </script>

</body>
</html>



<!--ng-init="ctrl.test = #{JSON.stringify(settings)}"-->



<!--<!DOCTYPE html>-->
<!--<html>-->
    <!--<head lang="en">-->
        <!--<meta charset="UTF-8">-->
        <!--<title>Settings</title>-->
    <!--</head>-->
    <!--<body ng-app="settingsApp">-->
        <!--<div ng-controller="settingsController as ctrl">-->
            <!--<h1></h1>-->
            <!--<form action="/action" method="post" ng-submit="ctrl.testing()">-->
                <!--<input ng-model="ctrl.test" type="text" name="val"><br>-->
                <!--<input value="Submit" type='button'/>-->
            <!--</form>-->
        <!--</div>-->
        <!--<div ng-controller="settingsController as settings">-->
            <!--{{settings.testing()}}-->
            <!--{{settings.test}}-->
        <!--</div>-->
        <!--<script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.33.0/js/Wix.js"></script>-->
        <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>-->
        <!--<script type="text/javascript" src="/javascripts/settings-app.js"></script>-->
    <!--</body>-->
<!--</html>-->
