
<!DOCTYPE html>
<html ng-app="settingsApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" href="/javascripts/bower_components/wix-ui-lib2/ui-lib.min.css"/>
    <link rel="stylesheet" href="/stylesheets/settings-styles.css"/>

</head>
<body wix-ui ng-controller="settingsController as ctrl">


    <header class="box">
        <div class="logo">
            <img width="86" src="/images/settings-logo.png" alt="logo"/>
        </div>
        <div class="top-right-header">
            <p>This is a sample Settings view for widgets and pages created with
                Wix's 3rd Party SDK, compatible with Wix's product requirements.
            </p>

            <button class="uilib-btn manage-btn" ng-click="ctrl.showManageNotes()">Manage notes</button>
        </div>

        <!--<div class="loggedOut">-->
            <!--<p>&lt;!&ndash; App Description &ndash;&gt;</p>-->
            <!--<div class="login-panel">&lt;!&ndash; App login panel &ndash;&gt;</div>-->
        <!--</div>-->
        <!--<div class="loggedIn hidden">-->
            <!--&lt;!&ndash; App Logged in information &ndash;&gt;-->
            <!--<div class="premium-panel">&lt;!&ndash; Premium features &ndash;&gt;</div>-->
        <!--</div>-->
        <!--<button class="uilib-btn manage-btn">Manage notes</button>-->
    </header>
    <div class="feature" wix-ctrl="Tabs" wix-options="{value:0}"  style="margin: 0px">
        <ul>
            <li data-tab="tab0"><div>Design</div></li>
            <li data-tab="tab1"><div>Settings</div></li>
        </ul>
        <!--All Tab Content-->
        <div class="tab-content">
            <!--First Tab (Design) Content-->
            <div data-tab="tab0" class="tab-pane">
                <ui class="list uilib-text">
                     <div class = "settings-group">
                        <li class="li-group">
                            <div class="skins-group" wix-model="template" wix-ctrl="ButtonGroup" wix-options="{value:'{{ctrl.settings.design.template}}'}">
                                <button value="default-note"></button>
                                <button value="spiral-note"></button>
                                <button value="postit-note"></button>
                                <button value="chalkboard-note"></button>
                            </div>
                            <button id="resetTemplateButton" class="uilib-btn btn-small" ng-click="ctrl.resetTemplate()">Reset</button>
                        </li>
                    </div>
                    <div class="lower-settings">
                        <li class="li-group" wix-label="Text">
                            <div wix-model="color" wix-ctrl="ColorPicker"  wix-options="{startWithColor:'color-13', value:'{{ctrl.settings.design.text.color || '#ff7766'}}' }"></div>
                            <div wix-param="font" wix-ctrl="FontStylePicker"></div>
                        </li>
                        <li class="li-group" wix-label="Background Color">

                            <div wix-model="bcolorWOpacity" wix-ctrl="ColorPickerWithOpacity"
                                 wix-options="{startWithColor: '{{ctrl.settings.design.background.color || '#ffffff'}}', startWithOpacity:'{{(ctrl.settings.design.background.opacity*100) || '100'}}'}"></div>
                            <div wix-model="bOpacitySpinner" wix-ctrl="Spinner" wix-options="{minValue: 0, maxValue:100, value:'{{100 *ctrl.settings.design.background.opacity || '100'}}'}"></div>
                        </li>
                        <li class="li-group" wix-label="Hover Color">
                            <div wix-model="hcolorWOpacity" wix-ctrl="ColorPickerWithOpacity" wix-options="{startWithColor: '{{ctrl.settings.design.hover.color || '#ffffff'}}', startWithOpacity:'{{('' + ctrl.settings.design.hover.opacity*100) || '100'}}'}"></div>
                            <div wix-model="hOpacitySlider" wix-ctrl="Spinner" wix-options="{minValue: 0, maxValue:100,  value:'{{100 *ctrl.settings.design.hover.opacity || '100'}}' }"></div>
                        </li>
                        <li class="li-group borderGroup" wix-label="Border">
                            <div wix-model="borderColor" wix-ctrl="ColorPicker"  wix-options="{startWithColor:'#000000', value:'{{ctrl.settings.design.border.color || '#000000'}}'}" ></div>
                            <span class="width-slider-label">Width</span>
                            <div  wix-model="borderWidth" wix-ctrl="Slider" wix-options="{ maxValue:10, preLabel:'0', postLabel:'10', value:'{{ctrl.settings.design.border.width}}'}"></div>
                            <div class="borderSpinner"wix-model="borderWidth" wix-ctrl="Spinner" wix-options="{minValue: 0, maxValue:10, value:'{{ctrl.settings.border.width}}' }"></div>
                        </li>
                        <li class="li-group cornerGroup" wix-label="Corner">
                            <span class="radius-slider-label">Radius</span>
                            <div  wix-model="radius" wix-ctrl="Slider" wix-options="{ maxValue:10, preLabel:'0', postLabel:'10', value:'{{ctrl.settings.design.border.radius}}'}"></div>
                            <div class="cornerSpinner" wix-model="radius" wix-ctrl="Spinner" wix-options="{minValue: 0, maxValue:10 }"></div>
                        </li>
                    </div>
                </ui>
            </div>
            <!--Second Tab (Settings Tab)Content-->
            <div data-tab="tab1" class="tab-pane">
                <ui class="list uilib-text">
                    <div class = "settings-group">
                        <li class="li-group">
                            <div class="dur-group" wix-model="transition" wix-ctrl="ButtonGroup">
                                <div class="transitionButtonBlock">
                                    <button value="typewriter"></button>
                                    <p>Typewriter</p>
                                </div>
                                <div class="transitionButtonBlock">
                                    <button value="horizontal"></button>
                                    <p>Horizontal</p>
                                </div>
                                <div class="transitionButtonBlock">
                                    <button value="vertical"></button>
                                    <p>Vertical</p>
                                </div>
                                <div class="transitionButtonBlock">
                                    <button value="fade"></button>
                                    <p>Fade</p>
                                </div>
                            </div>
                            <button id="previewTransitionButton" class="uilib-btn btn-small" ng-click="ctrl.previewTransition()">Preview</button>
                        </li>
                    </div>
                    <div class="lower-settings">
                        <li class="li-group durationGroup" wix-label="Duration (seconds)">
                            <!--<span class="radius-slider-label">Radius</span>-->
                            <div  wix-model="Duration" wix-ctrl="Slider" wix-options="{ maxValue:10, preLabel:'0', postLabel:'10'}"></div>
                            <div class="durationSpinner" wix-model="myInt" wix-ctrl="Spinner" wix-options="{minValue: 0, maxValue:100 }"></div>
                        </li>
                    </div>
                </ui>
            </div>
        </div>

        <div id="manage-notes" class="manage-notes-screen hidden-manage-notes">
            <div id="manage-notes-header">
               <a class="back-to-settings-button" ng-click="ctrl.hideManageNotes()" href="#"> < Back to Settings</a>
               <button class="uilib-btn add-note-btn" ng-click="ctrl.addNote()">Add a note</button>
            </div>
            <div id="link-popup">
                <div class="link-popup-header">Link</div>
                <a class="icon-close" ng-click="ctrl.closeLinkPopup()"></a>
                <hr class="horizontal">
                <div class="learn-more">
                    <p>Choose type of link</p>
                    <a ng-click="ctrl.backToOptions()">Learn More</a>

                </div>
                <div class="link-options">
                    <div class="option web-link">
                        Insert a web address:
                        <input class="web-text input" type="text" ng-model="ctrl.noteForLink.webLink"
                               placeholder="E.g www.wix.com">
                        <input class="radios" type="radio" ng-model="radio" ng-checked="true" ng-value="0"> Open in new window <br>
                        <input class="radios" type="radio" ng-model="radio" ng-value="1"> Open in same window
                    </div>
                    <div class="option page-link">
                        Select Page:
                        <select ng-model="ctrl.noteForLink.pageLink" ng-options="titles.toString() for titles in ctrl.settings.pages"></select>
                    </div>
                    <div class="option email-link">
                        Insert an email address <br>
                        <input class="email-text input" type="text" ng-model="ctrl.noteForLink.emailLink" placeholder="E.g info@wix.com">
                        Insert a subject <br>
                        <input class="email-text input" type="text" ng-model="subject" placeholder="E.g Request Information">
                    </div>
                    <div class="option doc-link">
                        No Document Selected <br>
                        <button class="uilib-btn btn-large">
                            <span>Upload</span>
                            <input type="file" class="upload">
                        </button>
                    </div>
                    <button class="uilib-btn btn-secondary link-btn" ng-click="ctrl.showLinkContent(1)">Web Address</button>
                    <button class="uilib-btn btn-secondary link-btn" ng-click="ctrl.showLinkContent(2)">Page</button>
                    <button class="uilib-btn btn-secondary link-btn" ng-click="ctrl.showLinkContent(3)">Email</button>
                    <button class="uilib-btn btn-secondary link-btn" ng-click="ctrl.showLinkContent(4)">Document</button>
                    <a class="remove-link" ng-click="ctrl.removeLink()">Remove link</a>
                </div>
                <button class="uilib-btn btn-large submit-link-btn" ng-click="ctrl.setLink()">OK</button>
            </div>
            <ul ui:sortable ng-model="ctrl.settings.notes" id="manage-notes-content" class="box" wix-scroll="{height:456}">
                <li ng-repeat="note in ctrl.settings.notes" class="note-container">
                    <div class="content-row">
                        <div class="drag-container">
                            <a><img class="drag-img" src="/images/drag-icon.png" /></a>
                        </div>
                        <div class="note-text-container">
                            <textarea ng-model="note.msg" ng-blur="ctrl.blur()" ng-trim="false" ng-keydown="ctrl.textLength($event, note.msg)"
                                    rows="0" class="note-text" type="text" maxlength="140"
                                    placeholder="This is a note. Click to edit"></textarea>
                            <div class="character-count-normal">{{note.msg.length}}/140</div>
                        </div>
                        <div class="edit-icons-container">
                            <a class="icon-edit" ng-click="ctrl.focusText($event)"></a>
                            <a ng-click="ctrl.deleteNote(ctrl.settings.notes, $index)"><img id="trash-icon" src="/images/trash-icon.png" /></a>
                            <a ng-click="ctrl.toggleWatch($event)" class="icon-watch"></a>
                        </div>
                    </div>
                    <div class="link-container">

                            <a ng-click="ctrl.showLinkPopup(note)"><img class="link-icon" src="/images/link-icon.png"/></a>
                            <a ng-click="ctrl.showLinkPopup(note)">{{note.link || "Add a link" }}</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>

     <!--angular + connection to DB -->
    <!--<div ng-controller="settingsController as ctrl"  >-->
        <!--<form ng-submit="ctrl.updateComponent()">-->
            <!--Enter text and hit enter:-->
            <!--<input type="text" ng-model="ctrl.settings.test" name="test" />-->
            <!--<input type="submit" id="submit" value="Submit" />-->
            <!--<!--<pre>list={{list}}</pre>-->

            <!--<!--{{ctrl.test}}-->

        <!--</form>-->
    <!--</div>-->

    <script type="text/javascript" src="javascripts/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/bower_components/jqueryui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.33.0/js/Wix.js"></script>
    <script type="text/javascript" src="javascripts/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/bower_components/angular-ui-sortable/sortable.min.js"></script>
    <script type="text/javascript" src="/javascripts/bower_components/wix-ui-lib2/ui-lib.min.js"></script>
    <script type="text/javascript" src="/javascripts/settings-app.js"></script>

    <!-- get global settings JSON -->
    <script type="text/javascript">
        var settings = <%- settings %>;
    </script>

    <!-- initilaize wix settings ui -->
    <script type="text/javascript">
        $(document).ready(function () {

            Wix.UI.initialize({
                numOfImages: 100,
                isIconShown: true,
                imageVisibility: 'show',
                imagesToSync: 0,
                imageLink: false
            });
        });
    </script>

</body>
</html>


